
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="/loginstf/img/favicon.png" type="image/png" />
  <title>Eiser ecommerce</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/loginstf/css/bootstrap.css" />
  <link rel="stylesheet" href="/loginstf/vendors/linericon/style.css" />
  <link rel="stylesheet" href="/loginstf/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/loginstf/css/themify-icons.css" />
  <link rel="stylesheet" href="/loginstf/css/flaticon.css" />
  <link rel="stylesheet" href="/loginstf/vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="/loginstf/vendors/lightbox/simpleLightbox.css" />
  <link rel="stylesheet" href="/loginstf/vendors/nice-select/css/nice-select.css" />
  <link rel="stylesheet" href="/loginstf/vendors/animate-css/animate.css" />
  <link rel="stylesheet" href="/loginstf/vendors/jquery-ui/jquery-ui.css" />
  <!-- main css -->
  <link rel="stylesheet" href="/loginstf/css/style.css" />
  <link rel="stylesheet" href="/loginstf/css/responsive.css" />
</head>

<body>
   <!--================Home Banner Area =================-->
   <section class="home_banner_area mb-40">
        <div class="banner_inner d-flex align-items-center">
          <div class="container">
            <div class="banner_content row">
              <div class="col-lg-12">
                <p class="sub text-uppercase">men Collection</p>
                <h3><span>Show</span> Your <br />Personal <span>Style</span></h3>
                <h4>Fowl saw dry which a above together place.</h4>
                <a class="main_btn mt-40" href="#">View Collection</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================End Home Banner Area =================-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/loginstf/js/jquery-3.2.1.min.js"></script>
  <script src="/loginstf/js/popper.js"></script>
  <script src="/loginstf/js/bootstrap.min.js"></script>
  <script src="/loginstf/js/stellar.js"></script>
  <script src="/loginstf/vendors/lightbox/simpleLightbox.min.js"></script>
  <script src="/loginstf/vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="/loginstf/vendors/isotope/imagesloaded.pkgd.min.js"></script>
  <script src="/loginstf/vendors/isotope/isotope-min.js"></script>
  <script src="/loginstf/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/loginstf/js/jquery.ajaxchimp.min.js"></script>
  <script src="/loginstf/vendors/counter-up/jquery.waypoints.min.js"></script>
  <script src="/loginstf/vendors/counter-up/jquery.counterup.js"></script>
  <script src="/loginstf/js/mail-script.js"></script>
  <script src="/loginstf/js/theme.js"></script>
</body>

</html>